﻿<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-center">Less 10Mb</th>
            <th class="text-center">10Mb-50Mb</th>
            <th class="text-center">More 100Mb</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-center">
                <h3 ng-bind="sizeRange.Less10Mb"></h3>
            </td>
            <td class="text-center">
                <h3 ng-bind="sizeRange.From10to50Mb"></h3>
            </td>
            <td class="text-center">
                <h3 ng-bind="sizeRange.More100Mb"></h3>
            </td>
        </tr>
    </tbody>
</table>

<div class="well">
    <h3 ng-bind="directoryInfo ? ('Current path ' + directoryInfo.Path) : ''"></h3>
    <table class="table">
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>            
            <tr ng-if="directoryInfo">
                <td>
                    <strong>
                        <a class="text-info" ng-click="getPreviousDirectory()" href="javascript:void(0);">..</a>
                    </strong>
                </td>
            </tr>
            <tr ng-repeat="drive in drives" ng-if="!directoryInfo">
                <td>
                    <strong>
                        <a class="text-info" ng-bind="::drive.Name" ng-click="selectDrive(drive)" href="javascript:void(0);"></a>
                    </strong>
                </td>
            </tr>    
            <tr ng-repeat="directory in directoryInfo.Directories">
                <td>
                    <strong>
                        <a class="text-info" ng-bind="::directory.Name" ng-click="getNextDirectory(directory.Name)" href="javascript:void(0);"></a>
                    </strong>
                </td>
            </tr>
            <tr ng-repeat="file in directoryInfo.Files">
                <td>
                    <span ng-bind="::file.Name"></span>
                </td>
            </tr>  
        </tbody>
    </table>
</div>
<!--
<div class="well">
    <h3 ng-bind="'Current path ' + currentPath"></h3>
    <table class="table">
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <strong>
                        <a class="text-info" ng-click="selectPreviousDirectory(directory)" href="javascript:void(0);">..</a>
                    </strong>
                </td>
            </tr>
            <tr ng-repeat="directory in directoryInfo.Directories">
                <td>
                    <strong>
                        <a class="text-info" ng-bind="::directory.Name" ng-click="selectDirectory(directory)" href="javascript:void(0);"></a>
                    </strong>
                </td>
            </tr>
            <tr ng-repeat="file in directoryInfo.Files">
                <td>
                    <span ng-bind="::file.Name"></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
    -->