﻿<!DOCTYPE html>
<html ng-app="directoryBrowser">
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Directory Browser</title>    
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        
    </head>
    <body>
        <div class="container">                  
            <directory-browser></directory-browser>
        </div>   

        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/angular.min.js"></script>        
        <script src="~/SPA/app.js"></script>
        <script src="~/SPA/DirectoryBrowser/DirectoryBrowserService.js"></script>
        <script src="~/SPA/DirectoryBrowser/DirectoryBrowserDirective.js"></script>
    
    </body>
</html>
